.forecast-card {
    width: 14.286%;
    margin: 12px;
    color: white; 
    overflow-x: hidden;
    background-color: transparent;
    border-color: transparent;
}
.forecast-card .forecast-day {
    font-size: 28px
}
.forecast-card img {
    width: 96px
}
.forecast-card .forecast-temp-hi {
    font-size: 42px;
    color: lightcoral
}
.forecast-card .forecast-temp-lo {
    font-size: 32px;
    color: lightblue
}
.forecast-card .forecast-weather {
    font-size: 24px;
    white-space: nowrap;
    padding-top: 12px;
}
.forecast-card .forecast-info {
    font-size: 20px
}

.news-card {
    width: 18rem;
    max-height: 400px;
    white-space: normal;
    overflow-x: hidden;
    overflow-y: hidden;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}

.news-card .card-img-top {
    max-height: 256px;
}

.cal-events-card {
    margin-left: 12px;
    margin-top: 12px;
    background-color: rgba(0, 0, 0, 0);
    border-color: transparent;
    width: 90%;
}

.cal-events-card .cal-event-img {
    border-radius: 5px;
    max-width: 108px;
}

.cal-events-card .cal-events-text {
    color: white;
}

.cal-events-card .cal-events-title {
    font-size: 32px;
}

.cal-events-card .cal-events-date {
    text-align: right;
    font-size: 32px;
}

.cal-events-card .cal-events-descrp {
    font-size: 24px;
}

.fs-pg {
    display: inline-block;
    overflow: hidden;
    
    position: relative;
    width: 100%;
    height: 700px;
    margin-right: 12px;
    
    left: 200%;
    opacity: 1;
    transition: 0.5s;
}

.fs-menu-btn > a {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
}

.fs-menu-btn > a:hover {
    color: #FFFFFF;
}

.fs-menu-btn > a::before {
    visibility: hidden;
    
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 2px;
    left: 0;
    
    background-color: #FFFFFF;
    
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.fs-menu-btn > a:hover::before {
    visibility: visible;
    
    color: #FFFFFF;
    
    transform: scaleX(1);
}

.fs-menu-btn img {
    width: 48px;
}

.fg-cb {
    overflow: visible;
    white-space: nowrap;
    
    position: absolute;
    
    height: 40px;
    left: 0%;
    bottom: -0px;
    
    transition: 0.5s;
}
.fg-cb p {
    animation: scrolling 35s linear infinite;
}

.fg-scb {
    position:fixed;
    
    bottom:4px;
    
    transition: 0.5s;
}

@keyframes scrolling {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes weatherDescScroll {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
/*
    Overall styling below
 */
body {
    background-color: black;
    overflow: hidden;
}

/*
    Foreground styling below
 */
#background {
    z-index: -1000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    
    background-color: white;
    background-image: url(bgs/g/minecraft/nt/8.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    transition: 0.5s;
}

#foreground {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8) 100%);
    opacity: 1;
    transition: 0.5s;
}

#foreground_header {
    height: 40%;
    
    color: white;
}

#foreground_time {
    font-size: 162px;
}

#foreground_greeting {
    font-size: 36px;
}

#foreground_content_bar {
    overflow: hidden;
    
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 40px;
    
    color: white;
    //background-color: rgba(0, 0, 0, 0.4);
    
    font-size: 24px;
    
    transition: 0.3s;
}

#foreground_info_bar {
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0px;
    
    color:white;
    //background-color: rgba(0, 0, 0, 0.4);
    
    font-size: 24px;
    
    transition: 0.3s;
}

#foreground_info_bar img {
    height: 40px;
}

/*
    Fullscreen menu styling below
 */
#fullscreen_menu {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    
    color: white;
    //background-color: rgba(0, 0, 0, 0.7);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    transition: 0.8s;
}

#fullscreen_foreground {
    height: 200px;
}

#fullscreen_foreground_body {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}