a {
    color: white;
}
p {
    color: white;
}
.dv-slideshow,
.dv-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -99; 
}
.dv-slideshow:after { 
    content: '';
    background-color: black
}
.dv-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 216s linear infinite 0s; 
}
.dv-slideshow li #sticky { 
    z-index: 1000;
    position: absolute;
    top: 20px;
    bottom: 30px;
    /*left: 0px;*/
    width: 95%;
    /*text-align: center;*/
    opacity: 0;
    color: #fff;
    animation: titleAnimation 216s linear infinite 0s; 
}
.dv-slideshow li #sticky #sticky-body {
    position: relative;
}
.dv-slideshow li #sticky h3 p { 
    font-family: sans-serif;
    font-size: 24px;
    padding: 0;
    line-height: 200px; 
}

.dv-slideshow li:nth-child(1) span { 
    background-image: url(bgs/1.png)
}
.dv-slideshow li:nth-child(2) span { 
    background-image: url(bgs/2.png);
    /*animation-delay: 54s;*/
}
.dv-slideshow li:nth-child(3) span { 
    background-image: url(bgs/3.png);
    /*animation-delay: 108s; */
}
.dv-slideshow li:nth-child(4) span {
    background-image: url(bgs/4.png);
    /*animation-delay: 162s;*/
}

/*
.dv-slideshow li:nth-child(2) #sticky { 
    //animation-delay: 54s; 
}
.dv-slideshow li:nth-child(3) #sticky { 
    //animation-delay: 108s; 
}
.dv-slideshow li:nth-child(4) #sticky {
    //animation-delay: 162s;
}
*/
@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    1% { opacity: 1; animation-timing-function: ease-out; }
    24% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    1% { opacity: 1 }
    24% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}