.dv-slideshow,
.dv-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -99; 
}
.dv-slideshow:after { 
    content: '';
    background-color: black
}
.dv-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    z-index: 0;
}
.dv-slideshow li #sticky {
    z-index: 1000;
    position: absolute;
    top:20px;
    bottom: 30px;
    width: 96%;
    color: #fff;
}